In [49]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import metrics
from sklearn.model_selection import train_test_split

In [50]:
data = pd.DataFrame()
data = pd.read_csv('https://raw.githubusercontent.com/luisFernandoCastellanosG/Machine_learning/master/Machine_Learning_Classic/Databasets/mercadeo_bancario.csv', encoding='utf-8')

Conocer la data

In [51]:
data.describe()

              edad   total_hijos  ...  numero_empleados         si_no
count  41188.00000  41188.000000  ...      41188.000000  41188.000000
mean      40.02406      3.984680  ...       1002.421652      0.112654
std       10.42125      2.583405  ...        577.707188      0.316173
min       17.00000      0.000000  ...          0.000000      0.000000
25%       32.00000      2.000000  ...        504.000000      0.000000
50%       38.00000      4.000000  ...       1001.000000      0.000000
75%       47.00000      6.000000  ...       1506.000000      0.000000
max       98.00000      8.000000  ...       2000.000000      1.000000

[8 rows x 10 columns]

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   edad                      41188 non-null  int64
 1   trabajo                   41188 non-null  object
 2   estado_civil              41188 non-null  object
 3   educacion                 41188 non-null  object
 4   total_hijos               41188 non-null  int64
 5   credito_sin_pago          41188 non-null  object
 6   prestamo_vivienda         41188 non-null  object
 7   prestamo_personal         41188 non-null  object
 8   valor_prestamo            41188 non-null  int64
 9   dias_ultimo_pago          41188 non-null  int64
 10  tarjetas_credito          41188 non-null  int64
 11  contacto                  41188 non-null  object
 12  mes                       41188 non-null  object
 13  dia_semana                41188 non-null  object
 14  duracion_ultimo_contacto  41188 non-null  int64
 15  dias_ultimo_contacto      41188 non-null  int64
 16  anterior_contacto         41188 non-null  int64
 17  numero_empleados          41188 non-null  int64
 18  si_no                     41188 non-null  int64
dtypes: int64(10), object(9)
memory usage: 6.0+ MB

In [53]:
uniqueValues = data['credito_sin_pago'].unique()
print(sorted(uniqueValues))

['no', 'unknown', 'yes']

#Convertir cada categoria a data numerica

## usando preprocessing

In [54]:
from sklearn import preprocessing
le =preprocessing.LabelEncoder()

In [55]:
data['trabajo']=le.fit_transform(data['trabajo'])  # (version rapida)
data['estado_civil ']=le.fit_transform(data['estado_civil '])  # (version rapida)
#data['educacion']=le.fit_transform(data['educacion'])  # (version rapida)
data['credito_sin_pago']=le.fit_transform(data['credito_sin_pago'])  # (version rapida)
data['prestamo_vivienda']=le.fit_transform(data['prestamo_vivienda'])  # (version rapida)
data['prestamo_personal']=le.fit_transform(data['prestamo_personal'])  # (version rapida)
data['contacto']=le.fit_transform(data['contacto'])  # (version rapida)
#data['mes']=le.fit_transform(data['mes'])  # (version rapida)
#data['dia_semana']=le.fit_transform(data['dia_semana'])  # (version rapida)

##Usando diccionarios como reemplazo

In [56]:
educacion = {
    'unknown': 0,
    'preschool': 1,
    'primary_school': 2,
    'tecnical_school': 3,
    'Technological_school': 4,
    'illiterate': 5,
    'professional.course': 6,
    'university.degree': 7
}
data['educacion'] = data['educacion'].map(educacion)

In [57]:
mes = {
    'mar': 3,
    'apr': 4,
    'may': 5,
    'jun': 6,
    'jul': 7,
    'aug': 8,
    'sep': 9,
    'oct': 10,
    'nov': 11
}
data['mes'] = data['mes'].map(mes)

In [58]:
dia_semana = {
    'sun': 1,
    'mon': 2,
    'tue': 3,
    'wed': 4,
    'thu': 5,
    'fri': 6,
    'sat': 7
}
data['dia_semana'] = data['dia_semana'].map(dia_semana)

##Verificamos el cambio de dato

In [59]:
uniqueValues = data['estado_civil '].unique()
print(uniqueValues)

[1 2 0 3]

##Verificamos que todos esten con datos numericos -enteros

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   edad                      41188 non-null  int64
 1   trabajo                   41188 non-null  int64
 2   estado_civil              41188 non-null  int64
 3   educacion                 41188 non-null  int64
 4   total_hijos               41188 non-null  int64
 5   credito_sin_pago          41188 non-null  int64
 6   prestamo_vivienda         41188 non-null  int64
 7   prestamo_personal         41188 non-null  int64
 8   valor_prestamo            41188 non-null  int64
 9   dias_ultimo_pago          41188 non-null  int64
 10  tarjetas_credito          41188 non-null  int64
 11  contacto                  41188 non-null  int64
 12  mes                       41006 non-null  float64
 13  dia_semana                41188 non-null  int64
 14  duracion_ultimo_contacto  41188 non-null  int64
 15  dias_ultimo_contacto      41188 non-null  int64
 16  anterior_contacto         41188 non-null  int64
 17  numero_empleados          41188 non-null  int64
 18  si_no                     41188 non-null  int64
dtypes: float64(1), int64(18)
memory usage: 6.0 MB

##Mes estan aun con tipo FLOAT lo convertimos a entero

In [61]:
data = data.fillna(0)

In [62]:
data['mes'] = data['mes'].astype('int')

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   edad                      41188 non-null  int64
 1   trabajo                   41188 non-null  int64
 2   estado_civil              41188 non-null  int64
 3   educacion                 41188 non-null  int64
 4   total_hijos               41188 non-null  int64
 5   credito_sin_pago          41188 non-null  int64
 6   prestamo_vivienda         41188 non-null  int64
 7   prestamo_personal         41188 non-null  int64
 8   valor_prestamo            41188 non-null  int64
 9   dias_ultimo_pago          41188 non-null  int64
 10  tarjetas_credito          41188 non-null  int64
 11  contacto                  41188 non-null  int64
 12  mes                       41188 non-null  int64
 13  dia_semana                41188 non-null  int64
 14  duracion_ultimo_contacto  41188 non-null  int64
 15  dias_ultimo_contacto      41188 non-null  int64
 16  anterior_contacto         41188 non-null  int64
 17  numero_empleados          41188 non-null  int64
 18  si_no                     41188 non-null  int64
dtypes: int64(19)
memory usage: 6.0 MB

#Responder Preguntas

##Edad Promedio de los que dijeron SI

In [64]:
data[data['si_no']==1]['edad'].mean()

40.91314655172414

##Edad Promedio de los que dijeron NO

In [65]:
data[data['si_no']==0]['edad'].mean()

39.911185290576775

##Promedio de Hijos

In [66]:
data['total_hijos'].mean()

3.9846800038846264

##Cantidad de personas según su estado Civil

In [67]:
data['estado_civil '].value_counts()

1    24928
2    11568
0     4612
3       80
Name: estado_civil , dtype: int64

##Cantida de personas según su trabajo

In [68]:
data['educacion'].value_counts()

7    12168
4     9515
3     6045
6     5243
1     4176
2     2292
0     1731
5       18
Name: educacion, dtype: int64

#Construir el modelo de Regresión Logística

In [69]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [70]:
X = data.drop('si_no', axis=1)
y = data.si_no

x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.20)

In [71]:
x_train.shape

(32950, 18)

In [72]:
logistic_regression = LogisticRegression()

In [73]:
logistic_regression.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [74]:
X.columns

Index(['edad', 'trabajo', 'estado_civil ', 'educacion', 'total_hijos',
       'credito_sin_pago', 'prestamo_vivienda', 'prestamo_personal',
       'valor_prestamo', 'dias_ultimo_pago', 'tarjetas_credito', 'contacto',
       'mes', 'dia_semana', 'duracion_ultimo_contacto', 'dias_ultimo_contacto',
       'anterior_contacto', 'numero_empleados'],
      dtype='object')

In [75]:
from sklearn.feature_selection import RFE

In [89]:
model = LogisticRegression(solver='lbfgs', max_iter=100000)
rfe = RFE(model, 3, verbose=1)
rfe = rfe.fit(X, y)

Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 5 features.
Fitting estimator with 4 features.

In [107]:
for i in range(X.shape[1]):print(f'{X.columns[i]} es {rfe.support_[i]}')

edad es False
trabajo es False
estado_civil  es False
educacion es False
total_hijos es False
credito_sin_pago es True
prestamo_vivienda es False
prestamo_personal es False
valor_prestamo es False
dias_ultimo_pago es False
tarjetas_credito es False
contacto es True
mes es False
dia_semana es False
duracion_ultimo_contacto es False
dias_ultimo_contacto es False
anterior_contacto es True
numero_empleados es False

In [92]:
print(X.columns[rfe.support_ == True])

Index(['credito_sin_pago', 'contacto', 'anterior_contacto'], dtype='object')

In [108]:
X_train, X_test, y_train, y_test = train_test_split(XX, y, test_size=0.2, random_state=8, stratify=y)

In [109]:
X_train.shape

(32950, 3)

In [110]:
model = LogisticRegression(solver='lbfgs', max_iter=4000)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

In [111]:
model.score(X_test, y_test)

0.8883224083515416